<div id="project" class="project-container">
    <div class="ProjectTitle">
        <p class="project-label">TRABALHOS SELECIONADOS</p>
        <h2>Projetos</h2>
    </div>

    <div class="ProjectCards">
        <div class="ProjectCard">
            <a href="https://lnkd.in/p/dFM7zkCV" target="_blank" rel="noopener noreferrer">
                <h3>Visse,Véi?</h3>
                <p class="ProjectText">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Voluptatem dolore provident minus rerum laboriosam dignissimos 
                    necessitatibus.
                </p>
                <div class="skills-project">
                    <span>Residência Porto Digital</span>
                    <span>FIGMA</span>
                    <span>2° Lugar Demoday</span>
                    <span>Soft Skills</span>
                </div>
            </a>
        </div>

        <div class="ProjectCard">
            <a href="https://www.linkedin.com/posts/isis-moura-9a350225b_inovaaexaeto-tecnologia-inclusaeto-activity-7367595618225086464-qAcT?utm_source=share&utm_medium=member_desktop&rcm=ACoAAD_3_wsB3PbuXbnsiLbU1JodGrrvxzY8nts" target="_blank" rel="noopener noreferrer">
                <h3>Acesse+</h3>
                <p class="ProjectText">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Voluptatem dolore provident minus rerum laboriosam dignissimos 
                    necessitatibus.
                </p>
                <div class="skills-project">
                    <span>Hackathon Inova@ê</span>
                    <span>1° Lugar</span>
                    <span>FIGMA</span>
                    <span>Soft Skills</span>
                </div>
            </a>
        </div>
    </div>
</div>
