<div id="home" class="home-container">    
    
    <div class="home-body">
        <div>
            <p class="tagle-title">Desenvolvedora Web</p>
            <h1>Desenvolvo <br>soluções web <br>com <span>propósito.</span></h1>
            <p class="description">
                Desenvolvo integrando IA no fluxo de trabalho para entregar 
                produtos rápidos, escaláveis e bem arquitetados
            </p>

            <div class="button-links">
                <a href="#project">Ver Projetos</a>
                <a href="#contact">Entrar em Contato</a>
            </div>
        </div>

        <img src="./assets/perfil.png" alt="Foto de perfil">
    </div>

</div>